 /* 0. GENERAL PROPERTIES */

:root{
    --DarkPurple: #310A31;
    --RhytmPurple: #847996;
    --GreenSheen: #88B7B5;
    --CambridgeBlue: #A7CAB1;
    --EggshellWhite:  #F4ECD6;
    --DutchWhite: #EAD9AE;
}

/* PROPERTIES */
body {
    margin: 0;
    padding: 0;
    background: var(--EggshellWhite);
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

/* BUTTONS */
.btn-primary {
    color: var(--EggshellWhite);
    background: var(--DarkPurple);
    border-color: var(--DarkPurple);
    text-decoration: none;
}

.btn-primary:hover {
    color: var(--EggshellWhite);
    background: var(--RhytmPurple);
    border-color: var(--RhytmPurple);
}

.btn-secondary {
    color: var(--DarkPurple);
    background: var(--GreenSheen);
    border-color: var(--GreenSheen);
    text-decoration: none;
}

.btn-secondary:hover {
    color: var(--DarkPurple);
    background: var(--CambridgeBlue);
    border-color: var(--CambridgeBlue);
}

/* NAVIGATION BAR */
.navbar {
    background: var(--RhytmPurple);
}

/* CARDS */
.card-body{
    background: var(--DutchWhite);
}

/* LINKS */
a {
    color: var(--RhytmPurple);
    text-decoration: underline;
}
a:hover{
    color: var(--DarkPurple)
}

/* scrolling beahvior */
html {
    scroll-behavior: smooth;
} 

/* Responsiveness */

@media screen and (max-width: 768px) {
    


    main, header, footer, #about-me, #resume, #contact-information{
        float: none;
        width: 100%;
        flex-wrap: wrap;
        overflow: scroll;
    }

    .container{
        flex: 0 0 50%;
        max-width: 100%;
    }

    #work section{
        width: 100%;
    }

    aside{
        float: none;
        width: 100%;
        margin: 0px;
        padding: 20px 0px 0px 0px;
    }

    .container #project1 {order: 1;}
    .container #project2 {order: 2;}
    .container #project3 {order: 3;}
    .container #project4 {order: 4;}
    .container #project5 {order: 5;}
}


